In [1]:
import pandas as pd

In [3]:
dados = pd.read_csv("dados.csv")

In [5]:
dados

,ID,Li,Be,B,O,Na,Mg,Al,Si,P,...,Hf,Ta,W,Hg,Tl,Pb,Bi,Th,U,Tg
0,478474_40951,0.0,0.0,0.099699,0.628564,0.000000,0.008412,0.052889,0.180302,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,341.65
1,308661_26527,0.0,0.0,0.000000,0.578947,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.105263,0.315789,0.0,0.0,348.15
2,448275_37908,0.0,0.0,0.000000,0.523810,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.238094,0.000000,0.000000,0.0,0.0,351.15
3,371146_28035,0.0,0.0,0.000000,0.655172,0.103448,0.000000,0.000000,0.000000,0.241379,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,354.15
4,354054_26065,0.0,0.0,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,354.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50995,417068_34230,0.0,0.0,0.000000,0.666667,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,1473.15
50996,156799_16188,0.0,0.0,0.000000,0.666667,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,1486.15
50997,370871_27993,0.0,0.0,0.000000,0.666667,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,1493.15
50998,97570_10251,0.0,0.0,0.000000,0.666667,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,1494.15
50999,78051_12789,0.0,0.0,0.000000,0.666667,0.000000,0.000000,0.000000,0.333333,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,1495.15

In [6]:
dados.head()

,ID,Li,Be,B,O,Na,Mg,Al,Si,P,...,Hf,Ta,W,Hg,Tl,Pb,Bi,Th,U,Tg
0,478474_40951,0.0,0.0,0.099699,0.628564,0.000000,0.008412,0.052889,0.180302,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,341.65
1,308661_26527,0.0,0.0,0.000000,0.578947,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.105263,0.315789,0.0,0.0,348.15
2,448275_37908,0.0,0.0,0.000000,0.523810,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.238094,0.000000,0.000000,0.0,0.0,351.15
3,371146_28035,0.0,0.0,0.000000,0.655172,0.103448,0.000000,0.000000,0.000000,0.241379,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,354.15
4,354054_26065,0.0,0.0,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,354.15

In [10]:
dados.dtypes

ID     object
Li    float64
Be    float64
B     float64
O     float64
       ...
Pb    float64
Bi    float64
Th    float64
U     float64
Tg    float64
Length: 67, dtype: object

In [14]:
print(list(dados.columns))

['ID', 'Li', 'Be', 'B', 'O', 'Na', 'Mg', 'Al', 'Si', 'P', 'K', 'Ca', 'Sc', 'Ti', 'V', 'Cr', 'Mn', 'Fe', 'Co', 'Ni', 'Cu', 'Zn', 'Ga', 'Ge', 'As', 'Se', 'Rb', 'Sr', 'Y', 'Zr', 'Nb', 'Mo', 'Ru', 'Rh', 'Pd', 'Ag', 'Cd', 'In', 'Sn', 'Sb', 'Te', 'Cs', 'Ba', 'La', 'Ce', 'Pr', 'Nd', 'Sm', 'Eu', 'Gd', 'Tb', 'Dy', 'Ho', 'Er', 'Tm', 'Yb', 'Lu', 'Hf', 'Ta', 'W', 'Hg', 'Tl', 'Pb', 'Bi', 'Th', 'U', 'Tg']

# Temperatura de Transição - Tg

In [31]:
print('Os 5 primeiros valores da coluna de Tg: ', list(dados['Tg'].head()))
print('O menor valor de Tg é: ', dados['Tg'].min())
print('O maior valor de Tg é: ', dados['Tg'].max())
print('A média dos valores de Tg é: ', dados['Tg'].mean())

Os 5 primeiro valores da coluna de Tg:  [341.65, 348.15, 351.15, 354.15, 354.15]
O menor valor de Tg é:  341.65
O maior valor de Tg é:  1495.15
A média dos valores de Tg é:  767.6484784313724

# Explorando os dados completos

In [33]:
!pip install glasspy
!pip install --upgrade git+git://github.com/drcassar/glasspy@dev

Requirement already satisfied: glasspy in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (0.3)
Requirement already satisfied: numpy>=1.16 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from glasspy) (1.21.4)
Requirement already satisfied: lmfit>=1.0.0 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from glasspy) (1.1.0)
Requirement already satisfied: chemparse>=0.1.0 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from glasspy) (0.1.2)
Requirement already satisfied: pandas>=1.0.0 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from glasspy) (1.4.2)
Requirement already satisfied: scipy>=1.2 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from glasspy) (1.7.3)
Requirement already satisfied: uncertainties>=3.1.4 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from lmfit>=1.0.0->glasspy) (3.1.7)
Requirement already satisfied: asteval>=0.9.28 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from lmfit>=1.0.0->glasspy) (0.9.28)
Requirement already satisfied: pytz>=2020.1 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pandas>=1.0.0->glasspy) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from pandas>=1.0.0->glasspy) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from python-dateutil>=2.8.1->pandas>=1.0.0->glasspy) (1.16.0)
Requirement already satisfied: future in c:\users\alberico\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from uncertainties>=3.1.4->lmfit>=1.0.0->glasspy) (0.18.3)
Collecting git+git://github.com/drcassar/glasspy@dev
  Cloning git://github.com/drcassar/glasspy (to revision dev) to c:\users\alberico\appdata\local\temp\pip-req-build-d4lnf46u

  Running command git clone --filter=blob:none --quiet git://github.com/drcassar/glasspy 'C:\Users\Alberico\AppData\Local\Temp\pip-req-build-d4lnf46u'
  fatal: unable to connect to github.com:
  github.com[0: 20.201.28.151]: errno=Unknown error

  error: subprocess-exited-with-error

  × git clone --filter=blob:none --quiet git://github.com/drcassar/glasspy 'C:\Users\Alberico\AppData\Local\Temp\pip-req-build-d4lnf46u' did not run successfully.
  │ exit code: 128
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× git clone --filter=blob:none --quiet git://github.com/drcassar/glasspy 'C:\Users\Alberico\AppData\Local\Temp\pip-req-build-d4lnf46u' did not run successfully.
│ exit code: 128
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

In [1]:
import numpy as np
import pandas as pd
from glasspy.data.load import sciglass, sciglassOxides

**Compostos vítreos de todos os tipos**

In [2]:
data = sciglass(load_compounds=True, load_atomic_fraction=True)
data

             at_frac                                                         \
                   H   Li        Be         B    C    N         O         F
ID
602035_43254     0.0  0.0  0.000000  0.200000  0.0  0.0  0.515151  0.000000
602033_43254     0.0  0.0  0.000000  0.245714  0.0  0.0  0.542857  0.000000
602034_43254     0.0  0.0  0.000000  0.223529  0.0  0.0  0.529412  0.000000
427658_35592     0.0  0.0  0.000000  0.219780  0.0  0.0  0.593407  0.000000
154186_15559     0.0  0.0  0.333166  0.000000  0.0  0.0  0.000000  0.666333
...              ...  ...       ...       ...  ...  ...       ...       ...
1660_3490        0.0  0.0  0.000000  0.000000  0.0  0.0  0.625000  0.000000
166277_17384     0.0  0.0  0.000000  0.000000  0.0  0.0  0.624850  0.000000
158919_16475     0.0  0.0  0.000000  0.000000  0.0  0.0  0.601610  0.000000
166276_17384     0.0  0.0  0.000000  0.000000  0.0  0.0  0.633391  0.000000
1716_2873        0.0  0.0  0.000000  0.000000  0.0  0.0  0.665865  0.000000

                                  ...             prop                   \
                    Na        Mg  ... ViscosityAt1573K ViscosityAt1673K
ID                                ...
602035_43254  0.151515  0.000000  ...              NaN              NaN
602033_43254  0.085714  0.000000  ...              NaN              NaN
602034_43254  0.117647  0.000000  ...              NaN              NaN
427658_35592  0.000000  0.000000  ...              NaN              NaN
154186_15559  0.000000  0.000000  ...              NaN              NaN
...                ...       ...  ...              ...              ...
1660_3490     0.000000  0.000000  ...              NaN              NaN
166277_17384  0.000000  0.125450  ...              NaN              NaN
158919_16475  0.000000  0.013644  ...              NaN              NaN
166276_17384  0.000000  0.099828  ...              NaN              NaN
1716_2873     0.000000  0.000000  ...              NaN              NaN

                                                                 \
             ViscosityAt1773K ViscosityAt1873K ViscosityAt2073K
ID
602035_43254              NaN              NaN              NaN
602033_43254              NaN              NaN              NaN
602034_43254              NaN              NaN              NaN
427658_35592              NaN              NaN              NaN
154186_15559              NaN              NaN              NaN
...                       ...              ...              ...
1660_3490                 NaN              NaN              NaN
166277_17384              NaN              NaN              NaN
158919_16475              NaN              NaN              NaN
166276_17384              NaN              NaN              NaN
1716_2873                 NaN              NaN              NaN

                                                                \
             ViscosityAt2273K ViscosityAt2473K ViscosityAt773K
ID
602035_43254              NaN              NaN             NaN
602033_43254              NaN              NaN             NaN
602034_43254              NaN              NaN             NaN
427658_35592              NaN              NaN             NaN
154186_15559              NaN              NaN             NaN
...                       ...              ...             ...
1660_3490           -0.770145              NaN             NaN
166277_17384         0.280987              NaN             NaN
158919_16475         0.429540         0.125559             NaN
166276_17384         0.486436              NaN             NaN
1716_2873                 NaN         3.369115             NaN


             ViscosityAt873K ViscosityAt973K
ID
602035_43254             NaN             NaN
602033_43254             NaN             NaN
602034_43254             NaN             NaN
427658_35592             NaN             NaN
154186_15559             NaN             NaN
...                      ...             ...
1660_3490                NaN             NaN
166277_17384             NaN             NaN
158919_16475             NaN             NaN
166276_17384             NaN             NaN
1716_2873                NaN             NaN

[214043 rows x 691 columns]

**Vidros formados pos óxidos**

In [3]:
data_oxides = sciglassOxides(load_compounds=True)
data_oxides

             at_frac                                                         \
                  Li   Be         B         O        Na        Mg        Al
ID
602035_43254     0.0  0.0  0.200000  0.515151  0.151515  0.000000  0.000000
602033_43254     0.0  0.0  0.245714  0.542857  0.085714  0.000000  0.000000
602034_43254     0.0  0.0  0.223529  0.529412  0.117647  0.000000  0.000000
427658_35592     0.0  0.0  0.219780  0.593407  0.000000  0.000000  0.000000
359894_27785     0.0  0.0  0.000000  0.571429  0.000000  0.000000  0.000000
...              ...  ...       ...       ...       ...       ...       ...
1660_3490        0.0  0.0  0.000000  0.625000  0.000000  0.000000  0.250000
166277_17384     0.0  0.0  0.000000  0.624850  0.000000  0.125450  0.000000
158919_16475     0.0  0.0  0.000000  0.601610  0.000000  0.013644  0.198372
166276_17384     0.0  0.0  0.000000  0.633391  0.000000  0.099828  0.000000
1716_2873        0.0  0.0  0.000000  0.665865  0.000000  0.000000  0.000000

                                  ...             prop                   \
                    Si    P    K  ... ViscosityAt1573K ViscosityAt1673K
ID                                ...
602035_43254  0.000000  0.0  0.0  ...              NaN              NaN
602033_43254  0.000000  0.0  0.0  ...              NaN              NaN
602034_43254  0.000000  0.0  0.0  ...              NaN              NaN
427658_35592  0.000000  0.0  0.0  ...              NaN              NaN
359894_27785  0.000000  0.0  0.0  ...              NaN              NaN
...                ...  ...  ...  ...              ...              ...
1660_3490     0.125000  0.0  0.0  ...              NaN              NaN
166277_17384  0.240471  0.0  0.0  ...              NaN              NaN
158919_16475  0.012806  0.0  0.0  ...              NaN              NaN
166276_17384  0.257580  0.0  0.0  ...              NaN              NaN
1716_2873     0.331730  0.0  0.0  ...              NaN              NaN

                                                                 \
             ViscosityAt1773K ViscosityAt1873K ViscosityAt2073K
ID
602035_43254              NaN              NaN              NaN
602033_43254              NaN              NaN              NaN
602034_43254              NaN              NaN              NaN
427658_35592              NaN              NaN              NaN
359894_27785              NaN              NaN              NaN
...                       ...              ...              ...
1660_3490                 NaN              NaN              NaN
166277_17384              NaN              NaN              NaN
158919_16475              NaN              NaN              NaN
166276_17384              NaN              NaN              NaN
1716_2873                 NaN              NaN              NaN

                                                                \
             ViscosityAt2273K ViscosityAt2473K ViscosityAt773K
ID
602035_43254              NaN              NaN             NaN
602033_43254              NaN              NaN             NaN
602034_43254              NaN              NaN             NaN
427658_35592              NaN              NaN             NaN
359894_27785              NaN              NaN             NaN
...                       ...              ...             ...
1660_3490           -0.770145              NaN             NaN
166277_17384         0.280987              NaN             NaN
158919_16475         0.429540         0.125559             NaN
166276_17384         0.486436              NaN             NaN
1716_2873                 NaN         3.369115             NaN


             ViscosityAt873K ViscosityAt973K
ID
602035_43254             NaN             NaN
602033_43254             NaN             NaN
602034_43254             NaN             NaN
427658_35592             NaN             NaN
359894_27785             NaN             NaN
...                      ...             ...
1660_3490                NaN             NaN
166277_17384             NaN             NaN
158919_16475             NaN             NaN
166276_17384             NaN             NaN
1716_2873                NaN             NaN

[159613 rows x 266 columns]

In [4]:
print(data.columns.levels[0])

Index(['at_frac', 'comp', 'meta', 'prop'], dtype='object')

In [12]:
print(data.columns.levels[1])

Index(['(NH4)2SO4', '(NH4)3PO4', 'AbbeNumber', 'Ag', 'Ag2CO3', 'Ag2O', 'Ag2S',
       'Ag2SO4', 'Ag2Se', 'Ag2Te',
       ...
       'ZnO', 'ZnS', 'ZnSO4', 'ZnSe', 'ZnTe', 'Zr', 'ZrF4', 'ZrO2', 'ZrS2',
       'ZrSe2'],
      dtype='object', length=617)

at_frac = salva a composição dos compostos em fração atômica

comp = salva a composição em fração dos compostos químicos

meta = salva os dados dos vidros

prop = salva as propriedadesdos vidros

In [5]:
print(data['at_frac'].columns)

Index(['H', 'Li', 'Be', 'B', 'C', 'N', 'O', 'F', 'Na', 'Mg', 'Al', 'Si', 'P',
       'S', 'Cl', 'K', 'Ca', 'Sc', 'Ti', 'V', 'Cr', 'Mn', 'Fe', 'Co', 'Ni',
       'Cu', 'Zn', 'Ga', 'Ge', 'As', 'Se', 'Br', 'Rb', 'Sr', 'Y', 'Zr', 'Nb',
       'Mo', 'Ru', 'Rh', 'Pd', 'Ag', 'Cd', 'In', 'Sn', 'Sb', 'Te', 'I', 'Cs',
       'Ba', 'La', 'Ce', 'Pr', 'Nd', 'Sm', 'Eu', 'Gd', 'Tb', 'Dy', 'Ho', 'Er',
       'Tm', 'Yb', 'Lu', 'Hf', 'Ta', 'W', 'Re', 'Pt', 'Au', 'Hg', 'Tl', 'Pb',
       'Bi', 'Th', 'U'],
      dtype='object')

In [6]:
print(data['comp'].columns)

Index(['SiO2', 'P2O5', 'ZrO2', 'Na2O', 'Al2O3', 'Fe2O3', 'CaO', 'MgO', 'K2O',
       'B2O3',
       ...
       'EuCl2', 'GeTe4.3', 'GaTe3', 'AsSe2', 'UF2', 'Ba(H2PO4)2', 'AgAsS2',
       'MgS', 'CaCO3', 'AsTe3'],
      dtype='object', length=576)

In [7]:
print(data['meta'].columns)

Index(['ChemicalAnalysis', 'Author', 'Year', 'NumberChemicalElements',
       'NumberCompounds'],
      dtype='object')

In [8]:
print(data['prop'].columns)

Index(['AbbeNumber', 'CTE', 'ElasticModulus', 'RefractiveIndex', 'T0', 'T1',
       'T10', 'T11', 'T12', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9',
       'Tg', 'Tliquidus', 'ViscosityAt1073K', 'ViscosityAt1173K',
       'ViscosityAt1273K', 'ViscosityAt1373K', 'ViscosityAt1473K',
       'ViscosityAt1573K', 'ViscosityAt1673K', 'ViscosityAt1773K',
       'ViscosityAt1873K', 'ViscosityAt2073K', 'ViscosityAt2273K',
       'ViscosityAt2473K', 'ViscosityAt773K', 'ViscosityAt873K',
       'ViscosityAt973K'],
      dtype='object')

Índice de refração: medido para um comprimento de onda de 589.3nm - Adimensional

Número de Abbe: mede a dispersão cromática - Adimensional

CTE: coeficiente linear de expansão térmica abaixo da temperatura de transição - Unidade: K^{-1}

Módulo de elasticidade de Young - Unidade: GPa

Tg: teperatura de transição - Unidade: K

Tliquidus: Temperatura de fusão - Unidade: K.

T0 A T12: Tn é a temperatura onde o logaritmo na base 10 da viscosidade( em Pa.s) vale n - Unidade: K.

ViscisityAt773K to ViscosityAt273K: valor do logaritmo na base 10 da viscosidade (em Pa.s) em uma determinada temperatura - Adimensional.

In [21]:
cols_prop = data["prop"].columns
cols = cols_prop.tolist()
print(cols)

['AbbeNumber', 'CTE', 'ElasticModulus', 'RefractiveIndex', 'T0', 'T1', 'T10', 'T11', 'T12', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'Tg', 'Tliquidus', 'ViscosityAt1073K', 'ViscosityAt1173K', 'ViscosityAt1273K', 'ViscosityAt1373K', 'ViscosityAt1473K', 'ViscosityAt1573K', 'ViscosityAt1673K', 'ViscosityAt1773K', 'ViscosityAt1873K', 'ViscosityAt2073K', 'ViscosityAt2273K', 'ViscosityAt2473K', 'ViscosityAt773K', 'ViscosityAt873K', 'ViscosityAt973K']

In [28]:
print(cols_prop[0])

AbbeNumber

In [43]:
onlyTg = data.dropna(subset=[('prop', 'Tg')])
onlyTg

             at_frac                                                          \
                   H    Li        Be         B    C    N         O         F
ID
185551_20611     0.0  0.00  0.178571  0.000000  0.0  0.0  0.000000  0.642857
185552_20611     0.0  0.00  0.188689  0.000000  0.0  0.0  0.056620  0.566003
76875_5186       0.0  0.00  0.000000  0.229476  0.0  0.0  0.577041  0.004160
76874_5186       0.0  0.00  0.000000  0.230575  0.0  0.0  0.577986  0.004301
486384_41521     0.0  0.15  0.000000  0.250000  0.0  0.0  0.500000  0.000000
...              ...   ...       ...       ...  ...  ...       ...       ...
156799_16188     0.0  0.00  0.000000  0.000000  0.0  0.0  0.666667  0.000000
370871_27993     0.0  0.00  0.000000  0.000000  0.0  0.0  0.666667  0.000000
603245_43679     0.0  0.00  0.000000  0.000000  0.0  0.0  0.666667  0.000000
97570_10251      0.0  0.00  0.000000  0.000000  0.0  0.0  0.666667  0.000000
78051_12789      0.0  0.00  0.000000  0.000000  0.0  0.0  0.666667  0.000000

                                  ...             prop                   \
                    Na        Mg  ... ViscosityAt1573K ViscosityAt1673K
ID                                ...
185551_20611  0.107143  0.000000  ...              NaN              NaN
185552_20611  0.113239  0.000000  ...              NaN              NaN
76875_5186    0.000000  0.037495  ...              NaN              NaN
76874_5186    0.000000  0.016601  ...              NaN              NaN
486384_41521  0.050000  0.000000  ...              NaN              NaN
...                ...       ...  ...              ...              ...
156799_16188  0.000000  0.000000  ...              NaN              NaN
370871_27993  0.000000  0.000000  ...              NaN              NaN
603245_43679  0.000000  0.000000  ...              NaN              NaN
97570_10251   0.000000  0.000000  ...              NaN              NaN
78051_12789   0.000000  0.000000  ...              NaN              NaN

                                                                 \
             ViscosityAt1773K ViscosityAt1873K ViscosityAt2073K
ID
185551_20611              NaN              NaN              NaN
185552_20611              NaN              NaN              NaN
76875_5186                NaN              NaN              NaN
76874_5186                NaN              NaN              NaN
486384_41521              NaN              NaN              NaN
...                       ...              ...              ...
156799_16188              NaN              NaN              NaN
370871_27993              NaN              NaN              NaN
603245_43679              NaN              NaN              NaN
97570_10251               NaN              NaN              NaN
78051_12789               NaN              NaN              NaN

                                                                \
             ViscosityAt2273K ViscosityAt2473K ViscosityAt773K
ID
185551_20611              NaN              NaN             NaN
185552_20611              NaN              NaN             NaN
76875_5186                NaN              NaN             NaN
76874_5186                NaN              NaN             NaN
486384_41521              NaN              NaN             NaN
...                       ...              ...             ...
156799_16188              NaN              NaN             NaN
370871_27993              NaN              NaN             NaN
603245_43679              NaN              NaN             NaN
97570_10251               NaN              NaN             NaN
78051_12789               NaN              NaN             NaN


             ViscosityAt873K ViscosityAt973K
ID
185551_20611             NaN             NaN
185552_20611             NaN             NaN
76875_5186               NaN             NaN
76874_5186               NaN             NaN
486384_41521             NaN             NaN
...                      ...             ...
156799_16188             NaN             NaN
370871_27993             NaN             NaN
603245_43679             NaN             NaN
97570_10251              NaN             NaN
78051_12789              NaN             NaN

[91714 rows x 691 columns]

In [47]:
onlyTg.head()
print(onlyTg[('prop', 'Tg')])

ID
185551_20611     463.15
185552_20611     463.15
76875_5186       876.15
76874_5186       857.15
486384_41521     661.15
                 ...
156799_16188    1486.15
370871_27993    1493.15
603245_43679    1494.15
97570_10251     1494.15
78051_12789     1495.15
Name: (prop, Tg), Length: 91714, dtype: float64

**Exportando os dados - nesse caso somente as cinco primeiras linhas**

In [46]:
data.head().to_csv('exported_data.csv')

In [ ]:
data.to_csv('dados_completos.csv')